@media screen and (max-width: 1024px) {
    .hide-on-mobile {
        display: none !important;
    }
    .interview-article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.interview-container {
    padding-bottom: 10rem;
    max-width: 85rem;
}

.interview-article {
    padding-left: 4rem;
    padding-right: 0;
    margin-right: 0;
}

#TableOfContents {
    border-left: 2px solid #efefef;
}

#TableOfContents > ul > li ul {
    display: none;
}

#TableOfContents li {
    margin-bottom: 0.5rem !important;
}

#TableOfContents ul:has( li.active) {
    display: block;
}

#TableOfContents li.active > ul {
    display: block;
}

.toc-nav {
    position: sticky;
    top: 2rem;
    align-self: start;
    font-size: smaller;
    padding-left: 2rem;
    margin-left: 4rem;
    width: 20rem;
    max-height: 90vh;
    overflow: auto;
}

.toc-nav li.active > a {
    color:skyblue;
    font-weight: 600;
}

.toc-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out; 
}

.toc-nav a:hover,
.toc-nav a:focus {
  color: #666;
  font-weight: 600;
}

.toc-nav ul, ol {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

.toc-nav::-webkit-scrollbar {
    width: 8px;
}

.toc-nav::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    border-radius: 4px;
}

.toc-nav::-webkit-scrollbar-thumb:active {
    background: #ddd;
}

.toc-nav:hover::-webkit-scrollbar-thumb {
    background: #ddd;
}

.toc-nav::-webkit-scrollbar-track-piece {
    background: transparent;
}